
$body-font-family : yekan-bakh-en;
//$material-light: (
//  'primary': red,
//  'cards': red,
//  'text': (
//    'primary': red,
//    'secondary': red
//  ),
//  'colors' : (
//    'primary': red
//  )
//);


//$font-size-root: 14px;
$card-border-radius: .475rem;
$btn-border-radius: 10px;
//$headings: (
//        'h1': (
//                'size': 10.3125rem,
//                'line-height': 10.15em
//        ),
//        'h2': (
//                'size': 2.25rem,
//                'line-height': 1.5em
//        )
//);
